<nav class="nav-bar">
  <ul class="nav-links">
    <li><a href="#" data-type="home" class="nav-link active">Home</a></li>
    <li><a href="#" data-type="custom" class="nav-link">Custom</a></li>
    <li><a href="#" data-type="sedan"class="nav-link">Sedan</a></li>
    <li><a href="#" data-type="suv"class="nav-link">SUV</a></li>
    <li><a href="#" data-type="truck" class="nav-link">Truck</a></li>
  </ul>
  <a href="#" class="account-link">My Account</a>
</nav>

